body {
  margin: 0;
  padding: 0;
  background-image: url("../images/fondo.jpg");
}

.greeting {
  border: solid 10px black;
  border-radius: 10px;
  background-color: #f9e9e0;
  width: 40vw;
  padding: 5vw;
  height: auto;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
}
.greeting .ask-name {
  font-family: "Mali", cursive;
}
.greeting .ask-name p {
  margin: 0;
}
.greeting .ask-name textarea {
  resize: none;
  width: 40vw;
  margin-top: 10px;
}
.greeting .difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Mali", cursive;
}
.greeting #nameRequired {
  background-color: lightsalmon;
  color: tomato;
  font-family: "Mali", cursive;
  padding: 1vw;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.buttonDifficulty {
  background-color: #fd9727;
  color: white;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
  margin: 2px;
}

.buttonDifficulty:hover {
  background-color: #f1a34f;
  cursor: pointer;
}

.title {
  font-family: "Pacifico", cursive;
  color: #3fadd3;
  font-size: 7vw;
  text-align: center;
  margin: 10px;
  text-align: center;
}

.board {
  position: relative;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 10px black;
  border-radius: 10px;
  background-color: rgba(249, 233, 224, 0.5);
}
.board .start-playing {
  font-family: "Mali", cursive;
  text-align: center;
}
.board .start-playing p {
  margin: 0;
  font-size: 10px;
}
.board .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}
.board .column {
  flex: 30vw;
  padding: 0 4px;
  margin: 0vw 5vh;
}
.board .column img {
  max-width: 19vw;
  margin-top: 8px;
  vertical-align: middle;
  border: 1px solid #fd9727;
}
.board .attempts {
  border-radius: 10px;
  border: solid 4px #3fadd3;
  margin: 3vh;
  width: 31vw;
  text-align: center;
}

.hidden {
  display: none;
}

.gameOver {
  width: 100vw;
  height: 100vh;
  background-color: rgba(249, 233, 224, 0.5);
  filter: alpha(opacity=60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  font-family: "Mali", cursive;
}
.gameOver .messageBox {
  border: 2px solid black;
  border-radius: 5px;
  width: 25vw;
  background-color: #f9e9e0;
  top: -3%;
  position: absolute;
}
.gameOver .playAgain {
  width: 14vw;
}
.gameOver #ranking {
  display: flex;
  border: 1px solid black;
  width: 22vw;
  margin: 5vh auto;
  font-size: 10px;
}
.gameOver #ranking #rankingName {
  border: 1px solid black;
  width: 33%;
}
.gameOver #ranking #rankingLevel {
  border: 1px solid black;
  width: 33%;
}
.gameOver #ranking #rankingAttempts {
  border: 1px solid black;
  width: 33%;
}

.backAndWithe {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media (min-width: 800px) {
  .greeting {
    width: 25vw;
    height: auto;
    padding: 3vw;
  }
  .greeting .title {
    margin: 10px;
    font-size: 3vw;
  }
  .greeting .ask-name textarea {
    width: 25vw;
  }
  .greeting .difficulty .buttonDifficulty {
    width: 25vw;
    height: 5vh;
  }
  .greeting #nameRequired {
    font-size: 15px;
  }

  .board {
    margin: 2vw 10vw 10vw 10vw;
  }
  .board .title {
    font-size: 30px;
  }
  .board .column {
    margin: 0;
    -ms-flex: 20vw;
    flex: 20vw;
    max-width: 7vw;
  }
  .board .column img {
    max-width: 7vw;
  }
}
.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
