body {
  margin: 0;
  padding: 0;
  background-image: url("../images/fondo.jpg");
  position: relative;
}

.greeting {
  border: solid 10px black;
  border-radius: 10px;
  background-color: #f9e9e0;
  width: 40vw;
  padding: 5vw;
  height: auto;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
}
.greeting .ask-name {
  font-family: "Mali", cursive;
}
.greeting .ask-name p {
  margin: 0;
}
.greeting .ask-name textarea {
  resize: none;
  width: 40vw;
  margin-top: 10px;
}
.greeting .difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Mali", cursive;
}
.greeting #nameRequired {
  background-color: lightsalmon;
  color: tomato;
  font-family: "Mali", cursive;
  padding: 1vw;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.buttonDifficulty {
  background-color: #fd9727;
  color: white;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
  margin: 2px;
}

.buttonDifficulty:hover {
  background-color: #f1a34f;
  cursor: pointer;
}

.title {
  font-family: "Pacifico", cursive;
  color: #3fadd3;
  font-size: 7vw;
  text-align: center;
  margin: 10px;
  text-align: center;
}

.board {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 10px black;
  border-radius: 10px;
  background-color: rgba(249, 233, 224, 0.5);
}
.board .start-playing {
  font-family: "Mali", cursive;
  font-weight: bold;
  text-align: center;
  margin: 1vh 0vw;
}
.board .start-playing p {
  margin: 0;
  font-size: 10px;
}
.board .start-playing p .attemptsNumber {
  color: #3fadd3;
}
.board .start-playing #helloName {
  font-size: 13px;
}
.board .mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}
.board .mainContainer .imagesContainer {
  display: grid;
  grid-template-columns: 19vw 19vw 19vw;
  grid-row-gap: 1vh;
  grid-column-gap: 2vw;
}
.board .mainContainer .imagesContainer .oneImageContainer {
  vertical-align: middle;
  border: 1px solid #fd9727;
  margin: 1vw;
  width: 17vw;
  height: 9.7vh;
}
.board .mainContainer .imagesContainer .oneImageContainer .images {
  width: 100%;
}
.board .attempts {
  border-radius: 10px;
  border: solid 4px #3fadd3;
  margin: 1vh auto;
  width: 31vw;
  text-align: center;
}

.hidden {
  display: none;
}

.gameOver {
  width: 100vw;
  height: 100vh;
  background-color: rgba(249, 233, 224, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -4%;
  align-items: center;
  font-family: "Mali", cursive;
  padding: 1vh;
}
.gameOver .messageBox {
  border: 2px solid black;
  border-radius: 5px;
  width: 65vw;
  background-color: #f9e9e0;
  text-align: center;
}
.gameOver .playAgain {
  background-color: #fd9727;
  color: white;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
  margin: 2px;
}
.gameOver #ranking {
  border: 2px solid black;
  width: 22vw;
  margin: 5vh auto;
  font-size: 10px;
}
.gameOver #ranking .row {
  display: flex;
}
.gameOver #ranking .row #rankingName {
  width: 33%;
}
.gameOver #ranking .row #rankingLevel {
  border-right: 2px solid black;
  border-left: 2px solid black;
  width: 33%;
}
.gameOver #ranking .row #rankingAttempts {
  width: 33%;
}

.backAndWithe {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.hidden {
  display: none;
}

.flip {
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

@media (min-width: 800px) {
  .greeting {
    width: 25vw;
    height: auto;
    padding: 3vw;
  }
  .greeting .title {
    margin: 10px;
    font-size: 3vw;
  }
  .greeting .ask-name textarea {
    width: 25vw;
  }
  .greeting .difficulty .buttonDifficulty {
    width: 25vw;
    height: 5vh;
  }
  .greeting #nameRequired {
    font-size: 15px;
  }

  .board {
    margin: 1vw 14vw 0vw 14vw;
  }
  .board .title {
    font-size: 30px;
  }
  .board .start-playing p {
    font-size: 12px;
  }
  .board .mainContainer {
    margin: 2vh;
  }
  .board .mainContainer .imagesContainer {
    grid-template-columns: 7vw 7vw 7vw 7vw;
    grid-row-gap: 0.8vh;
    grid-column-gap: 1.3vh;
  }
  .board .mainContainer .imagesContainer .oneImageContainer {
    width: 7vw;
    height: 15.4vh;
    margin: 0;
  }
  .board .attempts {
    margin: 2vh auto;
  }
  .board .attempts p {
    margin: 1vh;
  }

  .gameOver .messageBox {
    width: 30vw;
  }
  .gameOver .playAgain {
    width: 25vw;
  }
  .gameOver #ranking {
    width: 25vw;
    margin: 5vh auto;
  }
}

/*# sourceMappingURL=styles.css.map */
