$text: 'Mali', cursive;

@mixin title {
  font-family: 'Pacifico', cursive;
  color: #3fadd3;
  font-size: 7vw;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('../images/fondo.jpg')
}






.greeting{
  border: solid 10px black;
  border-radius: 10px;
  background-color: #f9e9e0;
  width: 40vw;
  padding: 5vw;
  height: auto;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  .ask-name{
    font-family: $text; 
    p{
      margin: 0;
    }
    textarea{
      resize: none;
      width: 40vw;
      margin-top: 10px;
    }
  }  
  .difficulty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $text;
    .buttonDifficulty{
      background-color: #fd9727;
      color: white;
      font-size: 2vh;
      border: none;
      border-radius: 5px;
      width: 40vw;
      height: 5vh;
      margin: 2px;
    }
  }
}
.title{
  @include title();
  margin: 10px;
  text-align: center;
}

.board {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 10px black;
  border-radius: 10px;
  background-color: rgba(249, 233, 224, 0.5);
  filter: alpha(opacity=60);
  .start-playing { 
    font-family: $text; 
    text-align: center;
    p {
      margin: 0;
      font-size: 10px;
    }
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 30vw;
    padding: 0 4px;
    margin: 0vw 5vh;
    img {
    max-width: 19vw;  
    margin-top: 8px;
    vertical-align: middle;
    border: 1px solid #fd9727;
    }
  }
  .attempts {
    border-radius: 10px;
    border: solid 4px #3fadd3;
    margin: 3vh;
    width: 31vw;
    text-align: center;
  }
  
}



@media (min-width: 800px) {
  .greeting{
    width: 25vw;
    height: auto;
    padding: 3vw;
    .title{
      margin: 10px;
      font-size: 3vw;
    }
    .ask-name{
      textarea{
        width: 25vw;
      }
    }
    .difficulty{
      .buttonDifficulty{
        width: 25vw;
        height: 5vh;
      }
    }
  }
  .board{
    margin: 2vw 10vw 10vw 10vw;
    .title{
      font-size: 30px;
    }
    .column {
      margin: 0;
      -ms-flex: 20vw;
      flex: 20vw;
      max-width: 7vw;
      img {
        max-width: 7vw; 
      }
    }
  }
  
}

.hidden {
  display: none;
}

