
@mixin title {
  font-family: 'Pacifico', cursive;
  color: #3fadd3;
  font-size: 7vw;
  text-align: center;
}

@mixin btnStyles {
  background-color: #fd9727;
  color: white;
  font-size: 2vh;
  border: none;
  border-radius: 5px;
  width: 40vw;
  height: auto;
  margin: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('../images/background/13877.eps');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: auto 60vw;
  position: relative;
  font-family: 'Mali', cursive;
}

.harry {
  background-image: url('../images/background/harry.png');
}

.starWars { 
  background-image: url('../images/background/starWars.jpg');
}

.animals {
  background-image: url('../images/background/animals.jpg');
}


.greeting{
  border: solid 10px black;
  border-radius: 10px;
  background-color: #f9e9e0;
  width: 40vw;
  padding: 5vw;
  height: auto;
  margin: 1vh auto;
  text-align: center;
  position: relative;
  .ask-name{
    margin: 2vh 0;
    .hello {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin: 0 1vw;
      }
    }
    p{
      margin: 0;
    }
    textarea{
      resize: none;
      width: 40vw;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 2vh;
      font-family: 'Mali', cursive;
    }
  }  
  .difficulty {
    .chooseDifficulty{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .theme {
    .chooseTheme {
      display: flex;
      justify-content: center;
    }
    .btnThemes {
      height: auto;
      width: 20vw;
    }
  }
  
  .play {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    #letsPlay {
      margin: 0 1vw;
    }
  }

  .required {
    width: 30vw;
    background-color: lightsalmon;
    color: tomato;
    font-family: "Mali", cursive;
    padding: 1vw;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
  }
}

.buttonDifficulty{
  @include btnStyles();
}

.buttonDifficulty:hover {
  background-color: #f1a34f;
  cursor: pointer;
}

.title{
  @include title();
  margin: 10px;
  text-align: center;
}

.uploadImages {
  position: absolute;
  top: 20vh;
  right: 14vw;
  width: 70vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: solid 1vw black;
  border-radius: 10px;
  background-color: #f9e9e0;
}

.icons {
  height: 4vh;
  margin: 0.2vh 1vw;
}

.board {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 10px black;
  border-radius: 10px;
  background-color: rgba(249, 233, 224, 0.5);
  .start-playing { 
    font-weight: bold;
    text-align: center;
    margin: 1vh 0vw;
    p {
      margin: 0;
      font-size: 10px;
      .attemptsNumber {
        color: #3fadd3;
      }
    }
    #helloName {
      font-size: 13px;
    }
  }
  .mainContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
    .imagesContainer {
      display: grid;
      grid-template-columns: 19vw 19vw 19vw;
      grid-row-gap: 1vh;
      grid-column-gap: 2vw;
      .oneImageContainer {
        vertical-align: middle;
        margin: 1vw;
        width: 17vw;
        height: 9.7vh;
        .images {
          width: 100%;
        }
      }
    }
  }
  .attempts {
    border-radius: 10px;
    border: solid 4px #3fadd3;
    margin: 1vh auto;
    width: 31vw;
    text-align: center;
  }  
}

.oneImageContainer:hover{
  cursor: pointer;
}

.hidden {
  display: none;
}

.gameOver {
  width: 100vw;
  height: 100vh;
  background-color: rgba(249, 233, 224, 0.5);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -4%;
  align-items: center;
  padding: 1vh 0vw;
  .messageBox {
    border: 2px solid black;
    border-radius: 5px;
    width: 65vw;
    background-color: #f9e9e0;
    text-align: center;
  }
  .playAgain {
    @include btnStyles();
  }
  #ranking {
    border: 2px solid black;
    width: 50vw;
    margin: 5vh auto;
    font-size: 10px;
    .row {
      display: flex;
      #rankingName {
        width: 33%;
      }
      #rankingLevel {
        border-right: 2px solid black;
        border-left: 2px solid black;
        width: 33%;
      }
      #rankingAttempts {
        width: 33%;
      }
    }
  }
}

.backAndWithe {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.hidden {
  display: none;
}

.flip {
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(720deg);
}

.clicked {
  box-shadow: inset 0 0 8px #050505;
  background: #f17f05;
}


//DESKTOP

@media (min-width: 800px) {
  .greeting{
    width: 50vw;
    height: auto;
    padding: 1vw;
    .title{
      margin: 10px;
      font-size: 3vw;
    }
    .ask-name{
      textarea{
        width: 25vw;
      }
    }  
    .required {
      font-size: 15px;
    }
  }
  .board{
    margin: 1vw 14vw 0vw 14vw;
    .title{
      font-size: 30px;
    }
    .start-playing {
      p{
        font-size: 12px;
      }
    }
    .mainContainer {
      margin: 2vh;
      .imagesContainer {
        grid-template-columns: 7vw 7vw 7vw 7vw;
        grid-row-gap: 0.8vh;
        grid-column-gap: 1.3vh;
        .oneImageContainer {
          width: 95%;
          height: 95%;
          margin: 0;
        }
      }
    }
    .attempts {
      margin: 2vh auto;
      p {
        margin: 1vh;
      }
    }
  }  

  .gameOver {
    .messageBox {
      width: 30vw;
      margin: 1.5vh;
    }
    .playAgain {
      width: 25vw;
    }
    #ranking {
      width: 22vw;
      margin: 5vh auto;
    }
  }

  .buttonDifficulty{
    width: auto;
    min-width: 15vw;
  }

  .icons {
    height: 8vh;
  }

  .difficulty {
    .chooseDifficulty {
      flex-direction: row;
    }
  }
  
}

